.header {
  background-image: url("../img/background/top-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

  @include retina {
    background-image: url("../img/background/top-background@2x.png");
  }

  @include vp-1023 {
    background-image: url("../img/background/top-background-tablet.png");
    background-repeat: no-repeat;
    background-position: 0 77px;
    background-size: contain;
    min-height: 1024px;
  }

  @include retina {
    background-image: url("../img/background/top-background-tablet@2x.png");
  }

  @include vp-767 {
    background-image: url("../img/background/top-background-mobile.png");
    background-position: 0 34px;

    @include retina {
      background-image: url("../img/background/top-background-mobile@2x.png");
    }
  }
}

.header__nav {
  padding-top: 20px;

  @include vp-767 {
    padding-top: 8px;
  }
}
