.menu-toggle {
  display: none;

  @include vp-1023 {
    display: block;
    position: relative;
    width: 40px;
    height: 14px;
    transition-duration: 1s;
    cursor: pointer;
    border: none;
    padding: 20px;
    background: transparent;
    z-index: 20;
    order: 4;
  }

  @include vp-767 {
    padding: 15px;
  }
}

.menu-toggle span {
  @include vp-1023 {
    height: 2px;
    width: 18px;
    background: $primary-color;
    position: absolute;
    left: 11px;
    transition-duration: 0.25s;
    transition-delay: 0.25s;

    &::before {
      content: "";
      left: 0;
      position: absolute;
      top: -8px;
      height: 2px;
      width: 24px;
      background: $primary-color;
      transition: transform 0.25s, top 0.25s 0.25s;

      @include vp-767 {
        top: -7px;
        width: 20px;
      }
    }

    &::after {
      content: "";
      left: 0;
      position: absolute;
      top: 8px;
      height: 2px;
      width: 11px;
      background: $primary-color;
      transition: transform 0.25s, top 0.25s 0.25s;

      @include vp-767 {
        top: 7px;
        width: 10px;
      }
    }
  }

  @include vp-1023 {
    left: 8px;
  }

  @include vp-767 {
    top: 14px;
    left: 5px;
    width: 14px;
  }
}

.nav--open .menu-toggle span {
  @include vp-767 {
    width: 0;
    transition: 0.1s ease-in-out;

    &::after {
      content: "";
      top: 0;
      width: 25px;
      transform: rotate(-45deg);
      transition: 0.4s ease-in-out;
    }

    &::before {
      content: "";
      top: 0;
      width: 25px;
      transform: rotate(45deg);
      transition: 0.4s ease-in-out;
    }
  }
}
